<div class="container mx-2 my-2">
	<div class="row justify-content-start ml-5 my-2" >
  <h4>Add a new membership type</h4>
    <div class=" col-sm-10 col-md-5">
      <%= render 'shared/errors', obj: @membership %>
        
        <%= render 'form' %>

    </div>
  </div>
  <%= link_to "Back to membership list", memberships_path, :class => "btn btn-secondary btn-sm" %>
</div>
<div>
</div>