<div class="container mt-4">
	<h2>Hours available for scheduling</h2>
	<div class="col-5 mb-5 pb-5">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Hour</th>
					<th>Active</th>
					<th>Edit</th>
				</tr>
			</thead>
				<tbody>
					<% @hours.each do |hour| %>
						<tr>
							<td><%= hour.hour %></td>
							<td><%=  hour.active_flag.humanize %></td>
							<td><%= link_to 'Edit', edit_hour_path(hour), class: "btn btn-primary btn-sm"%></td>
						</tr>
					<% end %>
				</tbody>
		</table>
	</div>
</div>