<div class="container ">
	<div class="row text-center justify-content-center" >
  <h4>Edit field status</h4>
    <div class="col-sm-8 col-md-7">
      <%= render 'shared/errors', obj: @field_status_update %>
        
      <%= render 'form' %>

    </div>
  </div>
</div>
<div>
</div>
