
<div class="container">
	<div class="row text-center justify-content-center" >
  <h4>Update field status and send to members </h4>

    <div class="col-sm-10 col-md-7">
      <%= render 'shared/errors', obj: @field_status_update %>
        
        <%= render 'form' %>

    </div>
  </div>
</div>
<div>
</div>
