<<div class="container">
<div class="row text-center justify-content-center" >
  <h4>Edit aircraft </h4>
  <div class="col col-sm-10 col-md-8">
      <%= render 'shared/errors', obj: @aircraft %>
        
      <%= render 'form' %>

    </div>
  </div>
</div>
