<div class="container mx-2 my-2">
	<div class="row justify-content-start ml-2 my-2" >
  <h4>Edit aircraft </h4>
    <div class="col">
      <%= render 'shared/errors', obj: @aircraft %>
        
      <%= render 'form' %>

    </div>
  </div>
  <%= link_to "Back to aircraft list", aircrafts_path, :class => "btn btn-primary mb-5" %>
</div>
<div>
</div>
