<div class="container">
	<div class="row justify-content-start ml-2 my-2" >
  <h4>Create a new aircraft </h4>

    <div class="col-sm-10 col-md-5">
      <%= render 'shared/errors', obj: @aircraft %>
        
        <%= render 'form' %>

        <%= link_to "Back to aircraft list", aircrafts_path, :class => "btn btn-secondary btn-sm" %>

    </div>
  </div>
</div>
<div>
</div>
