<h1>Create a new aircraft </h1>
<div class="container">
	<div class="row justify-content-start ml-5 my-5" >
    <div class="col-6">
      <%= render 'shared/errors', obj: @aircraft %>
        
        <%= render 'form' %>

    </div>
  </div>
</div>
<div>
  <%= link_to "Back to aircraft list", aircrafts_path %>
</div>
