<div class="container mx-2 my-2">
	<div class="row justify-content-start ml-5 my-5 w-50" >
  <h4>Edit user association with aircraft(s) </h4>
    <div class="col">
      <%= render 'shared/errors', obj: @aircraft_user %>
        
        <%= render 'form' %>

    </div>
    <%= link_to "Back to Aircraft User list", aircraft_users_path %>
  </div>
</div>
<div>
</div>
