<div class="container">
	<div class="row justify-content-start ml-5 my-5" >
  <h4>Associate user with aircraft(s) </h4>
    <div class="col-6">
      <%= render 'shared/errors', obj: @aircraft_user %>
        
        <%= render 'form' %>

    </div>
    <%= link_to "Back to Aircraft User list", aircraft_users_path %>
  </div>
</div>
<div>
</div>
