<div class="container ">
	<div class="row text-center justify-content-center" >
  <h4>Associate user with aircraft(s) </h4>
    <div class="col-sm-10 col-md-5">
      <%= render 'shared/errors', obj: @aircraft_user %>
        
        <%= render 'form' %>

    </div>
  </div>
</div>
<div>
</div>
