<div class="container mx-2 my-2">
	<div class="row justify-content-start ml-2 my-2 w-50" >
  <h4>Associate user with aircraft(s) </h4>
    <div class="col">
      <%= render 'shared/errors', obj: @aircraft_user %>
        
        <%= render 'form' %>

        <%= link_to "Back to Aircraft User list", aircraft_users_path, :class => "btn btn-secondary btn-sm" %>
    </div>
  </div>
</div>
<div>
</div>
