<div class="container my-2 mx-2">
  <h4>Edit this row in the tow fee schedule</h4>
	  <div class="row justify-content-start" >
      <div class="col-sm-10 col-md-5">
        <%= render 'shared/errors', obj: @towfee %>
          <%= render 'form' %>
      </div>
    </div>
    <%= link_to "Back to Tow fee schedule", towfees_path, class:"btn btn-primary btn-sm" %>
  </div>
<div>
</div>
