<div class="container ">
	  <div class="row text-center justify-content-center" >
    <h4>Add a new row to tow fee schedule</h4>
      <div class="col-sm-10 col-md-5">
        <%= render 'shared/errors', obj: @towfee %>
          <%= render 'form' %>
      </div>
    </div>
  </div>
