<h1>Field Ops Status for <%= @field_status_update.date %> </hi>

<p><strong>Are we flying? - 
    <%= if @field_status_update.ops_status == true then 'Yes' else 'No' end %>
  </strong></p>

  <p><%= @field_status_update.title %></p>
  <p><%= @field_status_update.notes %></p>

