<div class="container">
	<div class="row justify-content-start ml-5 my-5" >
    <h4>Edit user </h4>
      <div class="col-5">
      <%= render 'shared/errors', obj: @user %>
        
      <%= render 'form' %>

    </div>
  </div>
</div>
<div>
  <%= link_to "Back to user list", users_path %>
</div>
