<div class="container my-2 mx-2">
	<div class="row justify-content-start" >
    <h4>Edit user </h4>
      <div class="col-5">
      <%= render 'shared/errors', obj: @user %>
        
      <%= render 'form' %>

    </div>
  </div>
</div>
<div>
  <%= link_to "Back to user list", users_path :class => "btn btn-secondary btn-sm" %>
 %>
</div>
