<div class="container">
  <div class="row justify-content-center">
    <div class="col justify-content-center">
      <div class="row text-center justify-content-center">
        <div class="col mt-2 mb-4" id='top'>
          <a class="btn btn-primary mt-2" href="#aircraftdocs">Aircraft documents</a>
          <a class="btn btn-primary mt-2" href="#clubopsdocs">Club Operating Documents</a>
          <a class="btn btn-primary mt-2" href="#manuals">Manuals</a>
          <a class="btn btn-primary mt-2" href="#maps">Maps</a>
          <a class="btn btn-primary mt-2" href="#weather">Weather and Links</a>
          <a class="btn btn-primary mt-2" href="#logos">Club Logos</a>
        </div>
      </div>
      <div class="row">
        <div class="card align-start" style="width: auto;">
          <ul class="list-group list-group-flush ">
            <li class="list-group-item lead pb-3" id='aircraftdocs'>Aircraft Documents
            <a class="btn btn-secondary" href="#top">Back to top</a></li>
              
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">ASK-21 Documents</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1V7odTenxKCf6mea9W3k3GRmjFUyu2QAL/view?usp=drive_link">ASK-21 Data</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1fbCsg2u-LY3c3dZ6M01re5zAGoJR8kIm/view?usp=drive_link">ASK-21 Manual</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1A0ODQiEr0OdlCp7Kq_Qr4T2D2zsw0-ZX/view?usp=drive_link">ASK-21 Weight and Balance Chart</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1G7zxmYsOcVobwatvnaTwSnwunavsmXol/view?usp=drive_link">ASK-21 Polar Chart</a></p>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">ASK-23 Documents</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1fJ_vOUk9H6Vdmw4zmiZzYhBVl0IyFdHE/view?usp=drive_link">ASK-23 Manual</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1h1gAduMafJ-yih4WL4JANYFpbr5y8LKc/view?usp=drive_link">ASK-23 Polar Chart</a></p>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Getting Started with Club XC</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1uy8OOTgI3grxj45q2eL_VUhiCekrvf90/view?usp=drive_link">Club Equipment XC 101</a></p>
                  </dd>
                  
                </d1> 
            </ul>     
            <ul class="list-group list-group-flush ">
            <li class="list-group-item lead pb-3" id='clubopsdocs'>Club Operating Documents
            <a class="btn btn-secondary" href="#top">Back to top</a></li>
              
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Board and By laws</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1ItNiVecC39sZDbieoACV472lIjKJz7kv/view?usp=drive_link">Board of Directors (not current)</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1F4CQtq6TUTqIb4c4HKSHI6aAfV8wfhuq/view?usp=drive_link">Eagleville Soaring By-laws (2022)</a></p>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Ops Procedures</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1fZQ-yZewj5Eudg82q4_Rmnv6qNnQczB3/view?usp=drive_link">Eagleville Operations Procedures</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1iGkltN3_84S1PVBFSlP4OJyivGB6VIEn/view?usp=drive_link">Eagleville Tow Pilot Procedures</a></p>

                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Guest Procedures</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1d0-b5PWJO3600UYLmksBtmkwxf-dFCwN/view?usp=drive_link">Guest Agreement</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1KHH3JC4DeeSuzvD2UtNEed4pq0gCQkWV/view?usp=drive_link">Guest Check-in Procedures</a></p>

                  </dd>
                  <dt class="col-sm-4 ps-4 pt-2">Membership Application</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1xunR4bewx3IxQSQ-ujIXyn0BCrdy_LII/view?usp=drive_link">Membership Application Soft Copy</a></p>

                  </dd>
                  <dt class="col-sm-4 ps-4 pt-2">Hats and Patches</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1y9kYbASMjQfwSjJhcIpJ0l9xumu9raUQ/view?usp=drive_link">Hats Order Inventory Sheet</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1ZzM-iW5pzKoUWpDC8fGM0F7uD3owlHNk/view?usp=drive_link">Patches Order Inventory Sheet</a></p>

                  </dd>
                </d1> 
            </ul> 
            <ul class="list-group list-group-flush ">
            <li class="list-group-item lead pb-3" id='manuals'>Manuals and Guides
            <a class="btn btn-secondary" href="#top">Back to top</a></li>
              
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">PTS Documents</dt>
                  <dd class="col-sm-8 pt-2">
                    <p>All of these document links will need to be updated to the FAA current documents, but are archived here for now based on our last available copies</p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1y5f-B3QSyVfB8N5mJPqXW_w0tGw9YVK0/view?usp=drive_link">PTS Glider Commercial (updated 2023)</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/11kXhXHejxG_C7FWEfiGbaCSzC6DvEQEA/view?usp=drive_link">PTS Glider Instructor (updated 2023)</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1dBT0ODbO4tstZSEGIzW4C_bmrKG1LowS/view?usp=drive_link">PTS Glider Private (updated 2023)</a></p>
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Glider Flying</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1uz3YjxCl4_xaHp9AEIsJ8C81RlXWyTXA/view?usp=drive_link">Glider Flying Handbook</a></p>

                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1XBl9tToKuFu2XuoH4Dk_Pr-TvOVaTxyf/view?usp=drive_link">Glider Flight Review</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1nQAqtIg5lJExFSg_4KkqRVCx5ZUnxq0y/view?usp=drive_link">Glider Study Guide</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1uz3YjxCl4_xaHp9AEIsJ8C81RlXWyTXA/view?usp=drive_link">Glider Flying Handbook</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1PLQHKoGJ69CPSHA3tWsHtXyjx8bwTo6p/view?usp=drive_link">Pre-Solo Written Exam</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1lTgT9wtdzcE_9mtTHMwCHnD7Zp8d4GAw/edit?usp=drive_link&ouid=104333493255944985471&rtpof=true&sd=true">Glider Q&A doc</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1bl6E9-znDYW1-Q5dSSKGrvxPtZ2Ql8DG/view?usp=drive_link">Safe Flying Barometer (guide)</a></p>


                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">SSA Soaring Docs</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1-lftKB-KvspQTfDo5wMbiFwSm3wzmZxy/view?usp=drive_link">Standard Soaring Signals</a></p>

                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1T3sF-p6IIV0AW8qU8PyxhcKRyn2t0psk/view?usp=drive_link">SSA Badge Guide</a></p>
                    
                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Radio and Avionics</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1QRAz16G2UGOY2kMBsAA1COFqFb3rtyaR/view?usp=drive_link">Becker AR Radio manual</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1w58OvKmt-ap2vjWlx9nq0KOV5Kn32gKI/view?usp=drive_link">Guide to Transponders in Sailplanes</a></p>

                  </dd>
                </d1> 
            </ul> 
            <ul class="list-group list-group-flush ">
            <li class="list-group-item lead pb-3" id='maps'>Maps
            <a class="btn btn-secondary" href="#top">Back to top</a></li>
              
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Eagleville Area</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/11zQO7BLW61OBj_BiLxBp3M9M8XoCeygb/view?usp=drive_link">Eagleville Sectional</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1iA_ELsiLpNy3KX-uzcEeIsULjWJelI8C/view?usp=drive_link">Eagleville area with roads</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1H1enVHxOKiapXSWOn1DdkRIzpxr51rGM/view?usp=drive_link">Middle Tennessee Airports</a></p>

                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">General Map Info</dt>
                  <dd class="col-sm-8 pt-2">
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1jilDTNOKDpA2_nBCMDqQIS7rN7EAv_mq/view?usp=drive_link">Sectional Legend</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1XkSQB7yciCPx8zGBRYNufTXdHWQ1Uq22/view?usp=drive_link">Airspace Classification Diagram</a></p>
                  </dd>
                  
                
                </d1> 
            </ul>
            <ul class="list-group list-group-flush ">
            <li class="list-group-item lead pb-3" id='weather'>Weather Docs and Links
            <a class="btn btn-secondary" href="#top">Back to top</a></li>
              
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Weather Docs</dt>
                  <dd class="col-sm-8 pt-2">
                  <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1RUk69zFpcviWKDdnt3dB7-f17i_2pgiZ/view?usp=drive_link">Area AWOS Frequencies</a></p>
                  <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1m7YDrhI89s03TBySNWdLyfcXg7ad8Arw/view?usp=drive_link">Basic VFR Weather Minimums</a></p>

                  </dd>
                <dt class="col-sm-4 ps-4 pt-2">Weather Links</dt>
                  <dd class="col-sm-8 pt-2">
                    <p>These Weather links have not been tested yet, use at your own discretion</p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://usairnet.com/cgi-bin/launch/code.cgi?sta=KMQY&model=avn&state=TN&Submit=Get+Forecast">Aviation Weather for Smyrma Airport</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://www.drjack.info/INFO/explanation_links.html">Dr. Jack, Meteorologist</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://www.aviationweather.gov/">Aviation Weather Center</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://www.soarforecast.com/">Soaring Weather Reports</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://www.xcskies.com/">XC Skies Soaring Forecast Maps & Tools</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://www.drjack.net/">Dr. Jack BLIPMAP</a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://rucsoundings.noaa.gov/">Current Skew-T charts/a></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="http://www.theweatherprediction.com/thermo/skewt/">How to read Skew-T charts</a></p>
                  </dd>
                
                </d1> 
            </ul>
            <ul class="list-group list-group-flush ">
            <li class="list-group-item lead pb-3" id='logos'>Club Logos
            <a class="btn btn-secondary" href="#top">Back to top</a></li>
              
              <d1 class="row">
                <dt class="col-sm-4 ps-4 pt-2">Eagleville Club Logos</dt>
                  <dd class="col-sm-8 pt-2">
                  <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1JBHm7q8yiG835lA6c2U6z_HEqa1b8lb0/view?usp=drive_link">Eagleville Color Logo PDF</a></p>
                  <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1owFXmN3YrNca3HjYsLABw4hm75_-TGez/view?usp=drive_link">Eagleville Color Logo PNG</a></p>
                  <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1cubQP2Z6EiTqWwnbuYVGOfTDgwZLvSeP/view?usp=drive_link">Eagleville Color Logo TIFF (high res)</a></p>
                  <p><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1bBDcE21w-P0wYY_AQNRRHmRecyXbQhpU/view?usp=drive_link">Eagleville Color Logo JPG</a></p>

                  </dd>
                
                </d1> 
            </ul> 
          
          </div>
        </div>
      </div>
    </div>
  </div>        
<div>