<div class="container my-5 pb-5"
  <div class="card align-start" style="width: auto;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item lead">Release Notes</li>
      
      <div class="my-2 mx-5">9/10/2023 - Heroku deployed V20</div>

      <div class="my-2 mx-5">9/10/2023 - Users require an active membership in order to create any new reservation</div>

      <div class="my-2 mx-5">9/10/2023 - Associate memberships to users via MembershipUsers table </div>

      <div class="my-2 mx-5">9/10/2023 - Add membership types under Manage Club dropdown</div>
      
      <div class="my-2 mx-5">9/10/2023 - Heroku deployed V17</div>
      
      <div class="my-2 mx-5">9/10/2023 - Seeded production database with hours, days, aircraft, permisions for first user</div>

      <div class="my-2 mx-5">9/10/2023 - Reservations now limited to only aircraft that user has privileges in</div>
      
      <div class="my-2 mx-5">9/9/2023 - Email server fully provisioned! tested with user activation and user password recovery in production!</div>
  

      <div class="my-2 mx-5">9/8/2023 - next up is user profiles and additional user details, as well as limiting reservation capabilities by 'has_privileges_in' method </div>

        <div class="my-2 mx-5">9/8/2023 - Created 'has_privileges_in' method in '/models/users.rb' to show which aircraft(s) a given user has reservation
        privileges on. This will be managed within user profiles. View this under Manage Aircraft </div>
        
        <div class="my-2 mx-5">9/8/2023 - Added user permissions to Manage Users dropdown. Confirmed working </div>

        <div class="my-2 mx-5">9/8/2023 - Added user account activation via email, password recovery via email, account_activation 
          generation of permissions table (default to no permissions), remember me cookie for sessions control </div>

        <div class="my-2 mx-5">9/8/2023 - Requested SendGrid add-on for Heroku to enable sending of email from the server</div>

        <div class="my-2 mx-5">9/7/2023 - Completed most of password reset and email notification
          for account activation and password recovery. Not deployed. Testing needs to be cleaned up first. </div>  
        
        <div class="my-2 mx-5">9/6/2023 - Heroku deployment V10 </div>

        <div class="my-2 mx-5">9/6/2023 - Added data table to control tow height values 
            and wrote 'calcfees' method to calculate tow heights and save them to flights table </div>
          
        <div class="my-2 mx-5">9/6/2023 - Initial deployment to production server on Heroku. Database migrated 
              and is ready to accept test data once a few more features are added</div>

        <div class="my-2 mx-5">9/5/2023 - Built functionality to add flights to reservations, keeping user_id, reservation_id,
            date, and other items as hidden entries. Aircraft is still selectable for edge cases.</div>
         
        <div class="my-2 mx-5">9/4/2023 - Manage aircraft tables built and index, show, edit, destroy paths enabled. 
            Additional functionality coming once AircraftUsers are built out.</div>
         
        <div class="my-2 mx-5">9/3/2023 - Dropdown search enabled for updating the reservations grid </div>
         
        <div class="my-2 mx-5">9/1/2023 - Built 'view reservations' grid. Workable, if messy solution </div>

        <div class="my-2 mx-5">9/1/2023 - Added hours and days of operation and dependent routes </div>

        <div class="my-2 mx-5">8/31/2023 - Added capability for multiple admin levels within navigation and controllers (user admin, club admin, site admin) </div>

        <div class="my-2 mx-5">8/31/2023 - Added simple login/logout functions using has_secure_password </div>

        <div class="my-2 mx-5">8/31/2023 - Implemented basic reservation functions that prevent users from overlapping reservations </div>

        <div class="my-2 mx-5">8/31/2023 - Rails app created, git repository set up, Bootstrap and app dependencies intstalled </div>
      <li class="list-group-item lead">Resources</li>
      
        <div class="my-2 mx-5"><a href="https://www.softcover.io/read/28fdb94f/ruby_on_rails_tutorial_3rd_edition">Ruby on Rails Tutorial 3rd edition</a> </div>
        
    </ul>
  </div>

<div>