<div class="container">
  <div class="row justify-content-center">
    <div class="col justify-content-center">
      <div class="row justify-content-center">
        <div class="card align-start" style="width: auto;">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item lead pb-3">Release Notes</li>
            <d1 class="row">
            <dt class="col-sm-4 ps-4 pt-2">10/19/24</dt>
            <dd class="col-sm-8 pt-2">
              <p>Added SSL connection to sidekiq</p> 
              <p>Added null to zero error handling to flight times so it doesn't kill the admin reservations page</p> 
              <p>re-transmitted several failed webhooks from Stripe</p> 
              <p>Fixed syntax issue in reminder email template</p> 

            </dd>
            <dt class="col-sm-4 ps-4 pt-2">9/13/24</dt>
            <dd class="col-sm-8 pt-2">
              <p>Updated version of membership application for 2024</p> 


            </dd>
            <dt class="col-sm-4 ps-4 pt-2">9/1/24</dt>
            <dd class="col-sm-8 pt-2">
              <p>Added Tow Pilot logs to Admin pages, with csv export</p> 
              <p>Added Instructor logs to Admin pages, with csv export</p> 
              <p>Added Instructor Name to Flights page and to csv export</p> 

            </dd>
            <dt class="col-sm-4 ps-4 pt-2">7/13/24</dt>
            <dd class="col-sm-8 pt-2">
              <p>Updated date dropdowns to look back 30 days instead of 10 days</p> 
            </dd>
            <dt class="col-sm-4 ps-4 pt-2">7/12/24</dt>
            <dd class="col-sm-8 pt-2">
              <p>Updated PTS document links for Commercial, Instructor, and Glider</p> 
            </dd>
            <dt class="col-sm-4 ps-4 pt-2">7/10/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Updated code to render flights.csv to include $180 fee for RTH rides</p> 
                  <p>Added Admin capability to delete a reservation with an open status from the reservation logs page</p> 
                  <p>Added Admin capability to edit a flight from the admin page</p> 

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">6/15/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Fixed bug in rendering tow pilot hours</p> 
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">5/13/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added scheduler for commercial pilots to resources</p> 
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">4/18/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Changed recording of payment type for RTH flights to Cash, Check, Stripe like member flights</p> 
                  <p>Added fees to the flight record in flight logs for reconciliation</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">4/13/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added reminder emails for reservations more than 5 days old that repeat on Tuesday, Thursday, an Saturday until the past due status is cleared.</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">2/5/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Allow reservations to be created up to 5 days in the past if it was missed before the date passed</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">2/8/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Formally writing RTH ride tow fees as zero</p>
                  <p>Added Flight logs in admin grid and as downloadable CSV</p>

                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">2/3/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Sorted admin-reservation records in descending order by reservation ID.</p>
                  <p>Changed tow count on user profile page to sum instead of count</p>
                  <p>Changed Flight days for Instructors on profile page</p>

                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/29/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Loaded back-dated flight records into all club gliders to account for hours since last maintenance.</p>
                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/20/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Back-end cleanup job added to delete all Webhook records older than 30 days with a status of 'skipped'</p>
                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/15/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Testing addition of email forwarding to inbound emails from non-members to trello and user email</p>
                  <p>Wrote script that looks for russian cyrillic characters in spam email requests and prevents them from being saved/sent.</p>


                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/10/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Removed Stripe Payment link from Red tail hawk ride page to avoid possibility of prepayment</p>

                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/7/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added auto-cancelation of reservations when field status indicates a no fly day</p>
                  <p>Added capability for User Admins and Instructors to change the user specified for a reservation when editing</p>
                  <p>Downloaded all club documents from old website and added them as links to the google drive</p>

                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/6/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>fixed places where checks for multiple permissions are required - example: field status</p>

                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/5/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Update date query for reminder emails so it limits to tomorrow and not next day</p>
                  <p>Added field status to main index page for non-logged in site</p>

                </dd> 
            <dt class="col-sm-4 ps-4 pt-2">1/2/24</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Updated tow fee schedule to match legacy site, added a "cap" tow fee so 3000 foot and greater tows would calculate right.</p>
                  <p>Removed banner warning that the site was not fully live until January 1st 2024</p>
                  <p>Updated reservation log page to show only club and private aircraft reservations and flights for the prior 400 days.</p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">12/22/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Enabled scheduling of Instructors via Resource Scheduler</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">12/21/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Removed Senior membership from external facing website. Keeping it as membership type internally.</p>
                  <p>Re-pointed field status email to google group</p>
                  <p>Updated Stripe API keys and signing secret for webhooks</p>
                  <p>Updated Stripe Buy button for RTH flights</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">12/14/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added text explaining how to edit profile pic to profile pages</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">12/2/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Updated telephone number links to remove + so they work on cell phones</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/29/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Changed redirect on saving reservation to same date searched before save</p>
                  <p>Changed permission on profile edit to allow same user to edit</p>
                  <p>Fixed logic for displaying latest day loaded</p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/28/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Initial onboarding of all 60+ members</p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/27/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Transferred eaglevillesoaring.org domain to Dnsimple for DNS redirection</p>
                  <p>Updated ReCaptcha keys to real keys for ReCaptchaV2</p>
                  <p>Removed captcha requirement from site status emails</p>
                  

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/22/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Fixed total flights hours for Aircraft/show path</p>
                  <p>Rounded total flight hours for tow log entries to 2 decimal places</p>
                  <p>Added aircraft_id to accepted params for edit_flight_path, defaulted to current selection</p>
                  <p>Added Glossary section to How To page</p>
                  <p>Added validation for tow height minimum to be 100 feet or greater</p>
                  <p>Hard Coded RTH flight fees to $180 within Reservation index, show. Checkout show, index, success. And in Admin reservations list and CSV export. Need to map this to a database entry. </p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/21/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added email confirmation for New reservations, Modified reservations, deleted reservations</p>
                  <p>Added Sidekiq support to schedule Reservation reminders to individuals for their flights the next day</p>
                  <p>Disabled sidekiq scheduled jobs to avoid spamming testers with fake data until we launch</p>
                  <p>Added email confirmation for Stripe Checkout payments (receipt)</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/17/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added email form links for non-login users </p>
                  <p>Updated field status email form to wrap text</p>
                  <p>Wrote initial pages for membership, instruction, and flights</p>
                  <p>updated images so we are reusing fewer images throughout the site</p>


                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/11/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added Commercial Pilot as a permission type and granted commercial pilots the ability to change pilot names to administer RTH flights</p>
                  <p>Added RTH flight instructions to how to pages</p>
                  <p>Added customer facing page for requesting rides and recaptcha for spam minimization</p>
                  <p>Captured emails in database, will also send to mailer</p>
                  <p>Created Inbound email log in Admin area</p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/10/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>CSS change to pagination</p>
                  <p>Made grid dots for unavailable aircraft gray and added a warning to unavailable reservations</p>
                  <p>Added Tow Pilot and Instructor logs to profile page</p>
                  <p>Alphabetized Users, Member list, AircraftUsers, and MembershipUsers lists</p>
                  <p>Added flash message for date.today for field status</p>
                  <p>Gave field status permission to Instructors, Tow Pilots, Club Admins</p>
                  <p>Added field status notification to reservations for cancelations</p>
                  <p>Added checkbox to avoid sending Account Activation links automatically</p>
                  <p>Reworked Memberships so join date can be included</p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/6/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Testing Tow pilot reservation and tow logs functionality</p>
                  <p>Added initial tow pilot time/tow logging and hours counting. Can add more analytics later</p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/5/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added FAQs and How to text under Profile area</p>
                  <p>Fixed date search redirect bug in club schedule</p>
                  <p>Added resend capability for account activation link</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/2/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Styled flight counters as buttons</p>
                  <p>Changed how aircraft-users model is handled to make it easier to understand</p>
                  <p>Added pagination to several of the index pages</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">11/1/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added payment method and description to Reservation model</p>
                  <p>Added Payment_Intent description to mirror order description on old site</p>
                  <p>Added CSV download for reservation logs for accounting reconciliation</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/31/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Updated the last of the existing views to center text</p>
                  <p>Made Aircraft-User associations easier to manage</p>
                  <p>Added 30,60,90, Year to date totals to profiles</p>
                  <p>redirected on password reset to login page instead of auto-login</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/30/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Hide all buttons that should not work when users do not have access to them</p>
                  <p>Updated aircraft hours count to total in tenths of an hour</p>
                  <p>improvements to reservation pages</p>
                  <p>re-styled hours, days, aircraft pages</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/29/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added link to release notes under Profile</p>
                  <p>Added link to How to use site under profile - will build page</p>
                  <p>Templates for instruction, Red Tail Hawk Flight, and Membership info created - not filled out</p>
                  <p>Emailer for successful flight payment created and triggered within checkout controller - deferred</p>
                  <p>Admin page for flight records and statuses</p>
                  <p>Admin page for instructor flight totals - build this</p>
                  <p>Countless css updates and first pass through route access limits based on permissions</p>
                  <p> Reservations grids are now interactive </p>


                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/28/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>added gravatar images back in</p>
                  <p>Completed initial styling of landing page and restyled member login area</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/24/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>added in gravatar images to user profiles and member list (currently turned off)</p>
                  <p>Imported Bootstrap theme "Simple Landing Page"</p>
                  <p>Styled new pages/index page as root and started adding content</p>
                  <p>if then statement to switch navigation when logged in</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/15/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Added instructor ID to flight, triggered only if instructor was selected as a param in the reservation</p>
                  <p>removed rope break from flight params, can add it back in if needed</p>
                  <p>Added instructor as another permission type</p>
                  <p>Added past due and upcoming flags to reservation statuses</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/7/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Changed server time zone to Central time</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/6/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Updated account activation and reset email templates</p>
                  <p>Created first pass at Field Ops Status email</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/4/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Reservation status now changes when payment is completed.</p>
                  <p>Paid reservations can no longer be edited, but can still be viewed</p>
                  <p>Flights cannot be added until the day of the flight, and payment can not be attempted until flights are added</p>
                  <p>All relevant routes now require login in order to view them</p>

                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/3/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p><strong>Heroku v113</strong></p>
                  <p>Stripe webhooks running, listening for payment_intent.succeeded</p>
                  <p>Next up is the reservation handling matrix that updates based on date, webhook status, etc</p>
                </dd>
            <dt class="col-sm-4 ps-4 pt-2">10/1/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Stripe payments pushed to heroku for testing</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/30/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Started Stripe integration using Stripe and Pay gems</p>
                  <p>Stripe CLI installed and tested via localhost</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/17/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Changed Reservation details from table to card view to help with responsive design</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/12/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Heroku deployed v36, lots of small commits testing CSS</p>
                  <p>Made all tables responsive by allowing scrolling, and standardized forms for multiple page widths<p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/11/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Switched default day for schedule grid views from 'today' to next flying day<p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/10/23</dt>
                <dd class="col-sm-8 pt-2">
                  <p>Fixed minor issue preventing users from modifying or deleting their own flights and reservations.</p>
                  <p><strong>Heroku deployed V20</strong></p>
                  <p>Users require an active membership in order to create any new reservation</p>
                  <p>Add membership types under Manage Club dropdown</p>
                  <p><strong>Heroku deployed V17</strong></p>
                  <p>Seeded production database with hours, days, aircraft, permisions for first user</p>
                  <p>Reservations now limited to only aircraft that user has privileges in</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/9/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>Email server fully provisioned! tested with user activation and user password recovery in production!</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/8/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>next up is user profiles and additional user details, as well as limiting reservation capabilities by 'has_privileges_in' method </p>
                  <p>Created 'has_privileges_in' method in '/models/users.rb' to show which aircraft(s) a given user has reservation
                  privileges on. This will be managed within user profiles. View this under Manage Aircraft </p>
                  <p>Added user permissions to Manage Users dropdown. Confirmed working </p>
                  <p>Added user account activation via email, password recovery via email, account_activation 
                  generation of permissions table (default to no permissions), remember me cookie for sessions control </p>
                  <p>Requested SendGrid add-on for Heroku to enable sending of email from the server</p>
                </dd> 
              <dt class="col-sm-4 ps-4 pt-2">9/7/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>Completed most of password reset and email notification
                  for account activation and password recovery. Not deployed. Testing needs to be cleaned up first. </p>
                </dd>  
              <dt class="col-sm-4 ps-4 pt-2">9/6/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p><strong>Heroku deployment V10 </strong></p>
                  <p>Added data table to control tow height values 
                  and wrote 'calcfees' method to calculate tow heights and save them to flights table </p>
                  <p>Initial deployment to production server on Heroku. Database migrated 
                  and is ready to accept test data once a few more features are added</p>
                </dd> 
              <dt class="col-sm-4 ps-4 pt-2">9/5/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>Built functionality to add flights to reservations, keeping user_id, reservation_id,
                  date, and other items as hidden entries. Aircraft is still selectable for edge cases.</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/4/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>Manage aircraft tables built and index, show, edit, destroy paths enabled. 
                  Additional functionality coming once AircraftUsers are built out.</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/3/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>Dropdown search enabled for updating the reservations grid </p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/2/23</dt>
                <dd class="col-sm-8 pt-2"> 
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">9/1/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>Built 'view reservations' grid. Workable, if messy solution </p>
                  <p>Added hours and days of operation and dependent routes</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">8/31/23</dt>
                <dd class="col-sm-8 pt-2"> 
                  <p>Added capability for multiple admin levels within navigation and controllers (user admin, club admin, site admin) </p>
                  <p>Added simple login/logout functions using has_secure_password </p>
                  <p>Rails app created, git repository set up, Bootstrap and app dependencies intstalled </p>
                </dd> 
          </d1>  
        
          <ul class="list-group list-group-flush">
            <li class="list-group-item lead">Resources</li>
            <d1 class="row">
              <dt class="col-sm-4 ps-4 pt-2">Online Books</dt>
                <dd class="col-sm-8 pt-2">
                  <p><a href="https://www.softcover.io/read/28fdb94f/ruby_on_rails_tutorial_3rd_edition">Ruby on Rails Tutorial 3rd edition</a></p>

                </dd>
              <dt class="col-sm-4 ps-4 pt-2">Classes</dt> 
                <dd class="col-sm-8 pt-2">
                  <p>Link to Udemy class on Ruby on Rails development</p>
                </dd>
              <dt class="col-sm-4 ps-4 pt-2">Links</dt> 
                  <dd class="col-sm-8 pt-2"> 
                    <a href="https://github.com/speedstache/soar_base">Github repository for SoarBase</a><br>
                    <a href="https://sloboda-studio.com/blog/how-to-use-stripe-in-ruby-on-rails-app/">How to use Stripe in Rails app</a><br>
                    <a href="https://www.honeybadger.io/blog/sell-a-one-time-purchase-in-rails-with-stripe/">Another stripe implementation walkthrough</a><br>
                    <a href="https://github.com/pay-rails/pay">Pay Gem github</a><br>
                    <a href="https://testsuite.io/build-export-to-csv-with-rails">Exporting to csv in rails</a><br>
                    <a href="https://dnsimple.com/">DNS Simple is he domain hosting service connected to Eaglevillesoaring.org</a><br>
                    <a href="https://google.com/recaptcha/admin">Google recaptcha site keys, currently using Recaptcha V2</a><br>
                    <a href="https://github.com/ankane/ahoy">I plan on deploying Ahoy to track user metrics</a><br>
                  </dd>
            </d1>
          </ul>
        </div>

<div>