<div class="container">
	<div class="row text-center justify-content-center" >
  <h4>Send us an note!</h4>

    <div class="col-sm-10 col-md-7">
      <%= render 'shared/errors', obj: @email_request %>
        
        <%= render 'form' %>

    </div>
  </div>
</div>
<div>
</div>
