<div id="<%= dom_id permission %>">
  <p>
    <strong>Membership:</strong>
    <%= permission.membership %>
  </p>

  <p>
    <strong>Membership user:</strong>
    <%= permission.membership_user %>
  </p>

</div>
