<h1>Edit Permissions </h1>
<div class="container">
	<div class="row justify-content-start ml-5 my-5" >
    <div class="col-5">
      <%= render 'shared/errors', obj: @permission %>
        
      <%= render 'form' %>

    </div>
  </div>
</div>
<div>
  <%= link_to "Back to permission list", permissions_path %>
</div>
