<div class="container mt-4">
	<h4>Days available for scheduling</h4>
	<h8>If non-weekend days are required for scheduling, add them and flag as active</h8>
	<div class="col-5 pb-5 mb-5">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Day</th>
					<th>Active</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<% @days.each do |day| %>
					<tr>
						<td><%= day.day %></td>
						<td><%=  day.active_flag.humanize %></td>
						<td><%= link_to 'Edit', edit_day_path(day), class: "btn btn-primary btn-sm"%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to 'Add another day', new_day_path, :class => "btn btn-secondary btn-sm" %>
	</div>
</div>