<div class="container mx-2 my-2">
	<div class="row text-center justify-content-center" >
  <h4>Create a new reservation</h4>
  <h8>Aircraft are limited to those the current user has flight privileges in</h8>
    <div class="col-sm-10 col-md-6">
      <%= render 'shared/errors', obj: @reservation %>
      <% if @date.blank? || @time.blank? || @aircraft.blank? %>
        <%= render 'form' %>
      <% else %>  
        <%= render 'form_with_params' %>
      <% end %>
    </div>
  </div>
</div> 

