<h1>Eagleville Soaring Club</h1>

<p>Original email:</p>
<ul>
  <li>Email: <%= @email_contents.email %></li>
  <li>Subject: <%= @email_contents.subject %></li>
 </ul> 
<p></p>
<ul>
  <li>Body: <%= @email_contents.body %></li>
</ul>
<p>Eagleville Soaring Club response:</p>  

Regards,
Eagleville Soaring Club