
<p>Original email:</p>
<ul>
  <ul>Email: <%= @email_contents.email %></li>
  <ul>Subject: <%= @email_contents.subject %></li>
  <ul>Email Date: <%= @email_contents.date %></li>
 </ul> 
<p></p>
<ul>
  <li>Body: <%= @email_contents.body %></li>
</ul>