<div class="container">
	<div class="row justify-content-start ml-5 my-5" >
  <h2>Associate Membership with user </h2>
    <div class="col-6">
      <%= render 'shared/errors', obj: @membership_user %>
        
        <%= render 'form' %>

    </div>
    <%= link_to "Back to Membership User list", membership_users_path %>
  </div>
</div>
<div>
</div>
