<div class="container mx-2 my-2">
	<div class="row text-center justify-content-center" >
  <h4>Associate Membership with user </h4>
    <div class="col-sm-10 col-md-6">
      <%= render 'shared/errors', obj: @membership_user %>
      <% if @unassigned_user_id.blank? %>
        <%= render 'form' %>
      <% else %>  
        <%= render 'form_with_params' %>
      <% end %>
    </div>
  </div>
</div>

