<div class="container">
	<div class="row justify-content-start ml-2 my-2" >
  <h4>Associate Membership with user </h4>
    <div class="col-6">
      <%= render 'shared/errors', obj: @membership_user %>
        
        <%= render 'form' %>

        <%= link_to "Back to Membership User list", membership_users_path, :class => "btn btn-secondary btn-sm" %>

    </div>
  </div>
</div>
<div>
</div>
