<header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img src="../simple_landing_page/images/Eagleville_Logo_Color.png" width="100" alt="">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button> 
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="../simple_landing_page/images/Eagleville_Logo_Color.png" width="100" alt="">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#header-section">Home <span class="sr-only">(current)</span></a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">About</a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Users List', users_path, class: "nav-item" %></li>
                <li><%= link_to 'User Permissions', permissions_path, class: "nav-item" %></li>
                <li><%= link_to 'User Membership', membership_users_path, class: "nav-item" %></li>
                <li><a class="nav-item disabled" aria-disabled="true">Profile Details</a></li>
              </ul>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#club-info-section">About</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fleet-section">Our&nbsp;Fleet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#read-more-section">Fly&nbsp;with&nbsp;us</a>
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <button class="btn btn-info" data-toggle="modal" data-target="#loginModal">Member Login</button>
          </li>
        </ul>
      </div>
    </div> 
    </nav>   
  </header>